*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    margin: 8vh;
    align-items: center;
    justify-content: center;
}
#titlePage{
    text-align: center;
    color: rgb(16, 87, 24);
    font-size: 10vh;
    font-weight: 900;
}



body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.mainBody{
    width: 1280px;
    display: grid;
    grid-template-columns: auto auto;
  
    
}





.buttonSearch {
    background-color: white;
    color: #00993b;
    border: none!important;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

}




#search{
    display: grid;
    align-items: center;
}
#inputSearch{
    border-radius: 5px;
    width: 900px;
    height: 3vh;
    border-width: 1px;
    border-style: double;
    border-color: rgb(185, 185, 185); 
    padding-left: 20px;
}
#btn-go{
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    padding-right: 10px;
}




#cards{
    display: contents;
}

.card{
    display: flex;
    margin: 30px;
}
.imgCard{
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
    border: solid 2px;
    border-radius: 15px;
    border-color: #0f3f2098;
    
}

.infoCharacter{display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bolder;
    margin-left: 10px;
}


.vivo{
    display: inline-block;
    background-color: #02da54;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.morto{
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.desconhecido{
    display: inline-block;
    background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;
} 



.name{
    font-size: 22px;
    color: rgb(16, 87, 24);
    font-weight: bolder;
}

.textGrey{
    color: rgb(170, 170, 170);
}




.logoRickMorty{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

#btnPages{
    margin: 40px;
}

#btnNext{
    background-color: white;
    border: none;
    color: green;
    font-size: 15px;
    cursor: pointer;
}
#btnPrev{
    background-color: white;
    border: none;
    color: green;
    font-size: 15px;
    cursor: pointer;
}




ul {
    display: flex;
    justify-content: space-between;

}
li {
    list-style: none;
    margin: 5vh;
    font-size: 1.7vh;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}





.iconTopDiv{
    display: contents;
}

.documentationIcon{
    align-self: flex-start;
}


.iconTop{
    max-width: 140px;
    max-height: 140px;
    width: auto;
    height: auto;
    align-self: self-start;
}


#developer{
    display: flex;
    font-size: 2vh;
    flex-direction: row;
    justify-content: center;
}

#linkGit{
    color: rgb(196, 196, 196);
    text-decoration: none;
    display: flex;
    margin-inline: 4px;
}

#linkGit:hover{
    transform: scale(102%);
    font-weight: bold;
}

footer{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    background: rgb(31, 40, 33);
    color: rgb(158, 158, 158);
    padding: 3.5rem 0px;
    min-height: calc(120px);
    width: 100%;
}